<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTB Minesweeper</title>
    <link rel="stylesheet" href="/src/css/index.css">
</head>
<body>

<div class="main-container">
    {% if name %}
        <h1>NTB {{ name }}</h1>
    {% else %}
        <h1>NTB Minesweeper</h1>
    {% endif %}
    <p>NTB Minesweeper lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda aut dolore dolorum, eaque earum eius facere fugit illo minus non officiis quo suscipit vel voluptas. Dolor enim fugiat ipsum libero ratione. Ab ad aliquam at autem deserunt eos, esse et ex harum illo iste iure labore maxime nam, natus necessitatibus neque odit officia recusandae reprehenderit sed sequi soluta tempore velit voluptas. Adipisci aliquid dicta dolorem doloremque enim eveniet nesciunt possimus repellendus ullam vero? Animi, doloremque nesciunt nulla odio recusandae saepe? Ab, dicta dolore eaque eligendi error facere fugit incidunt iure maxime obcaecati officia porro quas quisquam rerum sint voluptates!consectetur adipisicing elit. Doloribus, porro.</p>
    <canvas id="main-canvas"></canvas>

    <script type="text/javascript" src="/src/js/index.js"></script>
</div>

</body>
</html>